.process-img {
  width: 100px;
  height: auto;
}

.about-us-img {
  width: auto;
  height: 400px;
}

@media (max-width: 400px) {
  .about-us-img {
    height: 200px;
  }
}

.team-bg {
  color: var(--secondary-color);
}

.hide-small {
  display: flex;
  justify-content: center;
}

@media (max-width: 991px) {
  .hide-small {
    display: none;
  }
}