.contact-side-section {
  background-color: var(--primary-color);
  color: white;
  padding: 60px 20px;
  margin: 30px 0;
}

.contact-title {
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 0;
}

.contact-icon-size {
  width: 30px;
  height: 30px;
  margin: 0 20px 20px 0;
}

.icon-with-bg {

  margin-right: 20px;
  width: 40px;


}