.services-page-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  padding: 0 100px;



}

.services-page-text h2 {
  text-align: left;
  padding: 20px 0;
}


@media (max-width: 800px) {

  .services-page-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;

    padding: 0;
    margin: 0 30px;

  }
}


.services-page-item {
  padding: 40px 0;
}


.details-container {

  display: flex;
  justify-content: center;
}

.services-details-text {

  max-width: 900px;
  text-align: justify;
}


.service-banner-img {
  padding: 100px 0 0;
  height: 400px;

}